<!DOCTYPE html>
<html lang="en" ng-app="demoApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="images/favicon.ico">

        <title>Home</title>

        <!-- core CSS -->
        <link href="styles/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="styles/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="styles/custom.css" rel="stylesheet" type="text/css"/>
        <script src="scripts/third-party/angular/angular.min.js" type="text/javascript"></script>
        <script src="scripts/third-party/ui-router/angular-ui-router.min.js" type="text/javascript"></script>
        <script src="scripts/third-party/bootstrap/ui-bootstrap-tpls.min.js" type="text/javascript"></script>
        <script src="scripts/custom/app.js" type="text/javascript"></script>
        <script src="scripts/custom/controllers/quotes-ctrl.js" type="text/javascript"></script>
        <script src="scripts/custom/controllers/authors-ctrl.js" type="text/javascript"></script>
        <script src="scripts/custom/controllers/search-ctrl.js" type="text/javascript"></script>
        <script src="scripts/custom/directives/loader-directive.js" type="text/javascript"></script>
        <script src="scripts/custom/filter/filter.js" type="text/javascript"></script>
        <script src="scripts/custom/services/resource-service.js" type="text/javascript"></script>
    </head><!--/head-->

    <body class="homepage">

        <header id="header">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" ui-sref="quotes">Quote's</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a ui-sref="quotes">Home</a></li>
                        <li><a ui-sref="authors">Authors</a></li>
                    </ul>
                    <form class="navbar-form navbar-right" ng-controller="NavbarSearchCtrl">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search authors,quotes or any key" ng-model="keyword">
                            <div class="input-group-btn">
                                <button class="btn btn-default" ng-disabled="!keyword" type="submit" ui-sref="searchResult({keyword:keyword})">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </nav>

        </header><!--/header-->
        <section class="main-content" ng-cloak>
            <div ui-view></div>
        </section>
        <footer id="footer" class="midnight-blue">
        </footer><!--/#footer-->
    </body>
</html>