<div class="container-fluid" style="margin-top: -20px;padding: 0">
    <div class="row" style="margin: 0">
        <div class='col-xs-12 col-sm-12 text-center black-background padding-4px'>
            <strong>Authors:</strong>
            <span><a class="cursor-pointer" ng-click="linkAuthor()">*</a></span>
            <span ng-repeat="letter in lettersArray">
                <a class="cursor-pointer" ng-click="linkAuthor(letter)">{{letter}}</a>
            </span>
            <span class="vertical-line">Follow Us:</span>
            <span class="cursor-pointer">
                <a class="fa fa-facebook-official social-icon"  href="https://www.facebook.com/" target="_blank"></a>
                <a class="fa fa-twitter-square social-icon" href="https://www.twitter.com/"  target="_blank"></a>
                <a class="fa fa-google-plus-square social-icon" href="https://plus.google.com/" target="_blank"></a>
            </span>
        </div>
    </div>
    <loading></loading>
    <carousel interval="slideInterval">
        <slide ng-repeat="quote in silderQuotes" active="quote.active">
            <img class="slider-img" ng-src="{{quoteImg}}">
            <div class="carousel-caption">
                <h4>{{$index + 1}}. {{quote.quote}}</h4>
                <strong class="text-right italic-font">{{quote.author.name}}</strong>
            </div>
        </slide>
    </carousel>
    <div class="container-fluid">
        <div class="row margin-top">
            <div class="col-sm-12">
                <h2 class="authors">Authors</h2>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3" ng-repeat="quote in quotes| orderBy:'author.name'">
                <a class="cursor-pointer" ng-click="showAuthorDetails(quote.author)">{{quote.author.name}}</a>
            </div>
            <div class="col-sm-12 text-center" ng-if="!quotes.length">
                <strong>No Results Found</strong>
            </div>
        </div>
    </div>
</div>