<div class="modal-header">
    <button type="button" class="close" ng-click="close()">x</button>
    <h3 class="modal-title">Author Details</h3>
</div>
<div class="modal-body" ng-cloak>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-xs-4 col-sm-4">
                <strong>Name : </strong>
            </div>
            <div class="col-xs-8 col-sm-8">
                <span>{{author.name}}</span>    
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-xs-4 col-sm-4">
                <strong>Born : </strong>
            </div>
            <div class="col-xs-8 col-sm-8">
                <span>{{author.born}}</span>    
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-xs-4 col-sm-4">
                <strong>Died : </strong>
            </div>
            <div class="col-xs-8 col-sm-8">
                <span>{{author.died}}</span>    
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-xs-4 col-sm-4">
                <strong>Profession : </strong>
            </div>
            <div class="col-xs-8 col-sm-8">
                <span>{{author.profession}}</span>    
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-xs-4 col-sm-4">
                <strong>Introduction : </strong>
            </div>
            <div class="col-xs-8 col-sm-8">
                <span>{{author.intro}}</span>    
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="close()">Close</button>
</div>
