<div class="container-fluid" ng-cloak>
    <div class="row">
        <loading></loading>
        <div class="col-xs-12 col-sm-12 margin-bottom">
            <span>Search keyword :</span>
            <strong>{{keyword}}</strong>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 margin-bottom text-center" ng-repeat=" quote in quotes">
            <div class="quote-box">
                <div class="quote-text">
                    <strong class="italic-font">{{quote.quote}}</strong><br>
                    <p class="text-right">- <a class="cursor-pointer" ng-click="showAuthorDetails(quote.author)">{{quote.author.name}}</a></p>
                </div>
                <img class="quote-img" ng-src="{{quoteImg}}">
                <div class="black-background padding-4px">Quote</div>
                <div class="text-left">
                    <span title="Total views {{quote.viewCount}}" class="glyphicon glyphicon-zoom-in glyph-layout"></span>
                    <span title="Total likes {{quote.likeCount}}" class="glyphicon glyphicon-thumbs-up glyph-layout"></span>
                    <span title="Total shares {{quote.shareCount}}" class="glyphicon glyphicon-share glyph-layout"></span>

                    <span title="Topics- {{quote.topics.toString()}}" class="glyphicon glyphicon-tags glyph-layout pull-right"></span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 text-center" ng-if="!quotes.length">
            <strong>No Match found</strong>
        </div>
    </div>
</div>