.quote-img{
    height: 100%;
    width: 100%;
}
.quote-box{
    border: 1px solid #000;
    border-radius: 4px;
}
.quote-text{
    position: absolute;
    z-index: 1;
    padding-top: 10%;
    color: #FFFFFF;
    width: 90%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.margin-bottom{
    margin-bottom: 30px;
}
.black-background{
    background: #000;
}
.slider-img{
    height: 200px !important;
    width: 100%;
}
.carousel-caption{
    padding-bottom: 54px;
}
.italic-font{
    font-style: italic;
}
.margin-top{
    margin-top: 30px;
}
.authors{
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}
.glyph-layout{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    padding: 5px;
    background: black;
    color: white;
    margin: 5px;
}
.padding-4px{
    padding: 4px;
}
.loader-img{
    height: 100px;
    width: 100px;
    position: absolute;
    z-index: 1;
    margin-top: 20%;
}
.vertical-line{
    border-left: 1px solid white;
    padding-left: 10px;
    margin-left: 10px;
}
.social-icon{
    font-size: 18px;
    padding: 2px;
}
.cursor-pointer{
    cursor: pointer;
}
.navbar{
    border-radius: 0px
}